header {
  box-sizing: border-box;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#EDE247;
  background-image: url(../images/yellow-bg.png);
  margin-top: 120px;
}