.new-tweet {
  width: 90%;
  margin-top: 1.5em;
  align-items: center;
  font-weight: 600;
  color: #184059;
}

#new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#new-tweet div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}



.new-tweet form {
  width: 100%;
}

.new-tweet button {
  background-color: #184059;
  color: #ffff;
  border: none;
  border-radius: 0.1em;
}

.new-tweet button:hover {
  background-color: #BF7B3F;
  color: #ffff;
  border: none;
  border-radius: 0.1em;
}

.new-tweet-button-counter {
  font-family: 'Bungee', cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tweet-text {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: solid #184059 4px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  resize: none;
  height: 50px;
  outline: none;
  /* outline-style: none; */
}

.overcount {
  color: #8C2F1B;
}

#error {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 300;
  /* border: 1px solid #8C2F1B; */
  /* border-radius: 1em; */
  padding: 0.5em;
  color: #8C2F1B;
  margin-bottom: 0.5em;
}

#error img {
  margin-left: 0.5em;
}

@media (min-width: 1024px) {
  .new-tweet {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #new-tweet div:first-of-type {
    flex-direction: column;
    align-items: center;
  }

  #error {
    font-size: 0.9em;
  }
  #error img {
    margin-left: 0.3em;
  }
}