.new-tweet {
  width: 90%;
  margin-top: 1.5em;
  align-items: center;
  font-weight: 600;
}

#new-tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#new-tweet div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}



.new-tweet form {
  width: 100%;
}

.new-tweet button {
  background-color: #4056A1;
  color: #ffff;
}

.new-tweet-button-counter {
  font-family: 'Bungee', cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tweet-text {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: solid #545149 4px;
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  resize: none;
  height: 50px;
  /* outline-style: none; */
}

.overcount {
  color: #931616;
}

#error {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 300;
  /* border: 1px solid #931616; */
  border-radius: 1em;
  padding: 0.5em;
  color: #931616;
  margin-bottom: 0.5em;
}

#error img {
  margin-left: 0.5em;
}